$font-url: "https://fonts.googleapis.com/css?family=Old+Standard+TT";
$font-name: 'Old Standard TT' !default;
$font-family: $font-name, 'Helvetica Neue', Arial, Helvetica, sans-serif !default;
@import 'semantic-ui';

<<<<<<< HEAD
body {
  text-align: center;
  background-color: lightcyan;
  margin: 50px;
}

.bigtitle {
  font-size: 30px;
}

.center {
text-align: center;
}
=======
.navbar {
  color: black;
  background-color: red;
  padding: 5px;
  height: 30px;
>>>>>>> commit add link

}

i.icon, i.cons {
  font-size: 5em;
}
